html {
    max-width: 100%;
}
body {
    font-family: "Lato", sans-serif;
    background-color: #e9e9e9;
    color: #333;
}

#nav-container {
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e64441;
    text-align: center;
    z-index: 999;
}
#nav-title {
    margin-top: 11px;
    font-size: 24px;
    color: white;
}



#main-container {
    margin-top: 48px; /* nav-container height */
    padding-top: 24px;
    transition: 0.2s;
}
#main-container.pushed {
    padding-top: 60px;
}

#main-header {
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 12px 0 24px 0;
    color: #646464;
}

#large-button-container {
    width: 100%;
}

.large-button {
    width: 100%;
    margin: 0 0 2px 0;
    height: 54px;
    color: #e64441;
    display: block;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    transition: 0.2s;
    background-color: #f6f6f6;
    padding-left: 48px;
}
.large-button:visited {
    color: #e64441;
}
.large-button:hover, .large-button:active {
    background-color: white;
}

.large-button-icon {
    float: left;
    width: 42px;
    height: 42px;
    margin: 6px;
    background-color: #e64441;
    border-radius: 24px;
    text-align: center;
}
.large-button-img {
    width: 100%;
    height: auto;
}
.large-button-label {
    float: left;
    padding-top: 18px;
    margin-left: 8px;
}

#question-button {
    position: fixed;
    bottom: 8px;
    right: 8px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background-color: white;
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #e64441;
    text-decoration: none;
    transition: 0.2s;
}
#question-button:hover {
    background-color: #f9f9f9;
}
a:visited {
    color: inherit;
}

#back-button {
    position: fixed;
    bottom: 8px;
    left: 8px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background-color: white;
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #e64441;
    transition: 0.2s;
}

#back-button a:link,
#back-button a:visited,
#back-button a:hover {
    color: #e64441;
    text-decoration: none;
}

#home-button {
    position: fixed;
    bottom: 8px;
    left: 50%;
    margin-left: -24px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    background-color: white;
    border: 2px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #e64441;
    transition: 0.2s;
}

#home-button a:link,
#home-button a:visited,
#home-button a:hover {
    color: #e64441;
    text-decoration: none;
}

#map-campus-container {
    background-image: url('google_map_campus.png');
    width: 682px;
    height: 776px;
    display: inline-block;
}

#map-north-container {
    background-image: url('google_map_north.jpg');
    width: 1094px;
    height: 680px;
    display: inline-block;
}

#map-south-container {
    background-image: url('google_map_south.jpg');
    width: 1015px;
    height: 962px;
}

#map-class-container{
    background-image: url('building-inner-class.png');
    width: 812px;
    height: 1024px;
    display: inline-block;
}

#building-selective-container{
    background-image: url('building-inner-selective.png');
    width: 812px;
    height: 1024px;
    display: inline-block;
}

#map-building-container {
    background-image: url('building-inner.png');
    width: 812px;
    height: 1024px;
    display: inline-block;
}

.map-invis-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: none;
}
.map-invis-button:hover{
    cursor: hand;
    cursor: pointer;
}

#map-class-button{
    width:179px;
    height:126px;
    top:228px;
    left:66px;
}

#selective-110-button{
    width:179px;
    height:126px;
    top:228px;
    left:66px;
}

#r110-button{
    width:179px;
    height:126px;
    top:228px;
    left:66px;
}

#selective-113-button{
    width:157px;
    height:243px;
    top:395px;
    left:34px;
}

#r113-button{
    width:157px;
    height:243px;
    top:396px;
    left:45px;
}

#r108-button{
    width:158px;
    height:123px;
    top:229px;
    left:38px;
}

#r103-button{
    width:190px;
    height:123px;
    top:675px;
    left:-84px;
}

#map-compsci-button {
    width: 78px;
    height: 58px;
    top: 248px;
    left: 187px;
}

#map-goessman-button {
    width: 86px;
    height: 83px;
    top: 416px;
    left: 344px;
}

#map-isb-button {
    width: 59px;
    height: 85px;
    top: 477px;
    left: 454px;
}

#map-goodell-button {
    width: 66px;
    height: 58px;
    top: 254px;
    left: 227px;
}

#map-isenberg-button {
    width: 64px;
    height: 106px;
    top: 412px;
    left: 442px;
}

#map-prince-button {
    width: 38px;
    height: 79px;
    top: 663px;
    left: 124px;
}

.map-building-container {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.submit-button {
    width: 100px;
    height: 32px;
    display: block;
    text-align: center;
    padding-top: 8px;
    background-color: #e64441;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    margin: 0 auto;
}
.submit-button:visited {
    color: white;
}
.submit-button:hover {
    cursor: pointer; cursor: hand;
}

.radio-horiz {
    margin: 0 4px 0 12px;
}

.number-input-box {
    max-width: 48px;
    text-align: right;
}

#go-inside-button {
    position: fixed;
    display: block;
    width: 100%;
    background-color: white;
    color: #e64441;
    text-decoration: none;
    top: 48px;
    height: 36px;
    text-align: center;
    padding-top: 9px;
}

#error-container {
    position: fixed;
    display: block;
    width: 100%;
    background-color: #fff;
    color: #e64441;
    top: 12px;
    height: 36px;
    text-align: center;
    padding-top: 9px;
    z-index: 100;
}
#error-container.active {
    top: 48px;
    transition: 0.2s;
}
#error-container.flash {
    background-color: #e64441;
}

#popup-wrapper {
    position: fixed;
    height: 160px;
    width: 100%;
    background: none;
    z-index: 200;
    left: 0;
    top: -250px;
    transition: 0.4s;
}
#popup-wrapper.active {
    top: 48px; /* height of navbar */
}
#popup-container {
    width: 100%;
    max-width: 256px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    z-index: 201;
}

#popup-header {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding-top: 9px;
    border-bottom: 1px solid #e9e9e9;
}
#popup-content {
    font-weight: 400;
    padding: 16px;
    font-size: 13px;
}
.popup-item {
    margin-bottom: 12px;
}
.popup-item .bold {
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}
.popup-item .value {
    display: inline-block;
    vertical-align: top;
}
#popup-ok {
    width: 100%;
    height: 24px;
    background-color: #E5E5E5;
    text-align: center;
    border-radius: 3px;
    padding-top: 6px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-weight: 700;
    color: #555;
    transition: 0.2s;
}
#popup-ok:hover {
    cursor: hand; cursor: pointer;
    background-color: #dadada;
    color: #e64441;
}

#background-overlay {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    opacity: 0;
    z-index: 101;
    display: none;
}
#background-overlay.active {display: block; opacity: 0.4;}

.form-group { margin: 6px auto; text-align: center; font-size: 14px; }
label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

hr {
    border: none;
    border-bottom: 1px solid #d5d5d5;
}

#toggle-advanced {
    width: 100%;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
    transition: 0.2s;
}
#toggle-advanced:hover {
    cursor: hand;
    cursor: pointer;
    color: #e64441;
}

#advanced-options {
    height: 0px;
    overflow: hidden;
    transition: 0.3s;
}

#advanced-options.active {
    height: 285px;
}